###############################################################################
# .gitignore
###############################################################################
code/data/red_arboleya/data_original/metermeasurement/